@import '/src/assets/scss/variables';
@import '/src/assets/scss/mixins';

.leaderboard {
  width: 100%;
  counter-reset: place;


  &__row {
    @extend %grid;
    grid-template-columns: 40px 1fr 80px;
    
    .leaderboard__col:not(.leaderboard__col_header):first-child {
      &::before {
        counter-increment: place;
        content: counter(place);
      }
    }
  }

  &__col {
    padding: $leaderboard_col_paddings;

    &_header {
      padding-bottom: $leaderboard_header_padding;
      border-bottom: solid 1px black;
    }

    &_text {
      &_right {
        text-align: right;
      }
    }
  }

  &__head {
    .leaderboard__col:last-child {
      padding-right: 15px;
    }
  }

  &__body {
    padding-top: $leaderboard_header_padding;
    height: 25vh;
    overflow-y: scroll;

    .leaderboard__row:nth-child(1) {
      background: $color_gold;
    }
    .leaderboard__row:nth-child(2) {
      background: $color_silver;
    }
    .leaderboard__row:nth-child(3) {
      background: $color_bronze;
    }
        
    &::-webkit-scrollbar {
      width: 5px;
    }

    &:hover {
      &::-webkit-scrollbar-thumb {
        background: rgba(136, 136, 136, 0.4);
      }
    }

    &::-webkit-scrollbar-thumb {
      background: rgba(136, 136, 136, 0);
      border-radius: 4px;
      
      &:hover {
        background: rgba(136, 136, 136, 0.9);
      }
    }
  }
}