@import '../../assets/scss/variables';

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(124, 124, 124, 0.7);
  z-index: 5;
  &__wrapper {
    z-index: 4;
    width: 325px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  &__container {
    position: relative;
    background: #f2f2f2;
    box-shadow: 0px 7px 0px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding: 20px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    &:first-child {
      margin-bottom: 45px;
    }

    &_absolute {
      position: absolute;
      left: 110%;
      min-width: 220px;
      top: 0;
      z-index: 3;
      padding-left: 40px;

      &::before {
        content: '!';
        display: inline-block;
        position: absolute;
        width: 16px;
        height: 16px;
        margin-right: 5px;
        text-align: center;
        top: 18px;
        left: 15px;
        font-size: .9em;
        font-weight: bolder;
        color: red;
        border: 2px solid red;
        border-radius: 50%;
      }
    }
  }
  &__title {
    text-align: center;
  }
  &__list {
    margin: 15px;
  }
  &__item {
    margin-bottom: 10px;
  }
  &__image {
    max-width: 280px;
  }
  &__content {
    display: flex;
    align-items: center;
    margin-top: 20px;
    font-size: 22px;
    text-align: center;
  }
  &__score {
    color: #ff4040;
    font-weight: 700;
    margin-left: 10px;
  }
  &__form {
    margin-top: 20px;
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
  &__input {
    font-size: 14px;
    text-align: center;
    padding: 10px 40px;
    background: #ffffff;
    border-radius: 5px;
    outline: none;
    border: none;
    transition: all 0.2s;
    box-shadow: 0 3px 0 rgba(0, 0, 0, 0.25);
    &::placeholder {
      color: $color_secondary;
      transition: all 0.2s;
    }
    &:focus {
      box-shadow: 0 3px 0 $color_primary;
      &::placeholder {
        color: lighten($color_secondary, 20%);
      }
    }
    &_invalid,
    &_invalid:focus {
      box-shadow: 0 3px 0 $color_danger;
    }
  }

  &__button-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
  &__text {
    font-size: 16px;
    text-align: center;
    margin-bottom: 25px;
  }

  &__pause {
    position: relative;
    width: 150px;
    height: 150px;
    cursor: pointer;
    transition: 0.5s;
    &::before,
    &::after {
      content: '';
      border-radius: 10px;
      position: absolute;
      width: 100%;
      height: 15px;
      background-color: #000;
      transition: 0.4s;
    }
    &::before {
      top: 33px;
      transform: rotate(90deg);
      right: 25%;
      top: 45%;
    }
    &::after {
      bottom: 33px;
      transform: rotate(-90deg);
      left: 25%;
      bottom: 45%;
    }
    &.active::before {
      top: 33px;
      right: 0;
      transform: rotate(30deg);
    }
    &.active::after {
      bottom: 33px;
      left: 0;
      transform: rotate(-30deg);
    }
  }
  &__pause-item {
    transition: all 0.5s;
    display: none;
    transform: rotate(90deg);
    bottom: 45%;
    left: -39%;
    border-radius: 10px;
    position: absolute;
    width: 100%;
    height: 15px;
    background-color: #000;
  }
  &__escape-wr {
    margin: 0 15px;
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    border: 1px solid #000;
    background: linear-gradient(
      90deg,
      rgba(231, 231, 229, 1) 0%,
      rgba(178, 178, 178, 1) 35%,
      rgba(190, 190, 190, 1) 100%
    );
  }

  &__escape {
    position: absolute;
    top: -4px;
    left: 50%;
    transform: translateX(-50%);
    width: 40px;
    height: 40px;
    border-radius: 10px;
    background-color: #f1f1f1;
    border: 1px solid #000;
  }
}
