@import '../../assets/scss/variables';
@import '../../assets/scss/mixins';
@import '../../assets/scss/keyframes';

.card {
  position: relative;
  cursor: pointer;
  perspective: 1500px;
  perspective-origin: center;
  height: 100%;
  width: 100%;

  &__shirt {
    @extend %gamecard-default, %animation-init;
    animation-name: gamecard-shirt-out;
    will-change: transform;
    background:
      $gamecard_background_img,
      $gamecard_background_linear_gradient,
      $gamecard_background_radial_gradient,
      rgb(112, 229, 255);

    border: 1px solid #78e4ff;
    border-bottom-color: #59aabe;
    backface-visibility: hidden;

    z-index: 2;
  }

  &__face {
    @extend %gamecard-default, %animation-init;
    animation-name: gamecard-face-out;
    will-change: transform;
    background-color: white;
    background-position: center;
    background-size: 80%;
    background-repeat: no-repeat;
    backface-visibility: hidden;
    z-index: 3;
  }

  &__shadow {
    @extend %gamecard-default, %animation-init;
    animation-name: gamecard-shadow-out;
    will-change: transform;
    background-color: rgba(0, 0, 0, 0.25);
    
    z-index: 1;
  }
  
  &:not(.card_flipped) {
    transition: filter .2s $gamecard_animate_timing;
  
    &:hover {
      filter: $gamecard_hover_filter;
    }
  }

  &:active {
    .card__shirt {
      animation-name: slide-down;
      animation-duration: .05s;
    }
  }

  &_flipped {
    z-index: 100;

    .card {  
      &__shirt {
        animation-name: gamecard-shirt-in;
      }
      &__face {
        animation-name: gamecard-face-in;
      }
      &__shadow {
        animation-name: gamecard-shadow-in;
      }
    }
  }
  
}